.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* //////////////// Header, header logo, and navigation //////////////// */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerMenu {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #002868;
}

.headerMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 15rem;
}

.headerMenu a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
}

.headerMenu a:hover {
  color: #BF0A30;
  text-decoration: underline;
  text-decoration-color: #FFD700;
}

.headerMenu a:active {
  text-decoration: underline;
  text-decoration-color: #FFD700;
}

.NomNoms-logo {
  height: 30vh;
}

/* //////////////// Home Page  //////////////// */

.noms-home-container {
  /* background-color: #002868; */
  color: #ffffff;
  width: 100%;
}

.noms-image-container {
  display: flex;
  width: 100%;
  height: 75vmin;
  background-image: url("./images/Rocky-Mountain-National-Park-Colorado.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nom-container-one {
  height: 50vmin;
  background-color: #BF0A30;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-self: center;
}

.noms-home-intro-content-left {
  width: 50%;
  justify-content: flex-start;
  padding: 10px;  
}

.noms-home-intro-content-right {
  width: 50%;
  justify-content: flex-end;  
  padding: 10px;  
}

.noms-container-two {
  height: 50vmin;
  background-color: #ffffff;
  color: #002868;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.restaurant-one {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 30%;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.restaurant-two {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 30%;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.restaurant-two img  {
  align-self: center;
}

.restaurant-one img {
  align-self: center;
}

.restaurant-three img {
  align-self: center;
}

.restaurant-three {
  display: flex;
  flex-direction: column;
  order: 3;
  width: 30%;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.noms-container-three {
  height: 50vmin;
  background-color: #002868;
  color: #ffffff;
  width: 100%;
  display: flex;
}

/* //////////////// Restaurant and restaraunt side bar //////////////// */
.restaurant-restaurantContent {
  display: flex;
}

.restaurant-content {
  display: flex;
  width: 100%;
}

.restaurant-sideBar {
  justify-content: flex-start;
  width: 30%;
  border: 2px;
  border-color: #002868;
}

.restaurant-sideBar li {
  list-style-type: none;
  padding: 2px;
}


.restaurant-sideBar-buttons {
  border: solid 3px transparent;
  border-color: #002868;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  color:#002868;
  border-radius: 10px;
  padding: 5px;
  border-width: 5px;
  width: 200px;
  transition-duration: 0.4s;
}

.restaurant-sideBar-buttons:hover {
  border-color: #BF0A30;
  color: #BF0A30;
  text-decoration: underline;
  text-decoration-color: #FFD700;
}

.restaurant-sideBar-buttons:active {
  border-color: #BF0A30;
  color: #BF0A30;
  text-decoration: underline;
  text-decoration-color: #FFD700;
}

/* .restaurant-titles {
  justify-content: flex-end;
  text-align: left;
  width: 70%;
  padding: 10px;
} */

.restaurant-page-content {
  justify-content: flex-end;
  text-align: left;
  width: 70%;
  padding: 10px;
}

.restaurant-titles-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: 1s ease-in-out;
}

.restaurant-titles-items:hover {
  background-color: rgba(255, 0, 0, 0.5);
  transition: 1s;
  border-radius: 10px;
}

.rest-img {
  order: 1;
  width: 25%;
  justify-content: center;
  align-self: center;
  padding: 10px;
}

.rest-img img {
  border-radius: 10px;
}

.rest-stuff {
  order: 2;
  width: 75%;
  padding: 10px;
}

.rest-line-divider {
  border-top: 5px solid #BF0A30;
  border-radius: 5px;
}

/* //////////////// Recipe and recipe side bar //////////////// */
.recipe-container {
  display: flex;
  width: 100%;
}

.recipe-sidebar {
  justify-content: flex-start;
  width: 30%;
}

.recipe-content {
  justify-content: flex-end;
  width: 70%;
}

.recipe-sidebar li {
  list-style-type: none;
  padding: 2px;
}

.recipe-sideBar-buttons {
  border: solid 3px transparent;
  border-color: #002868;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  color:#002868;
  border-radius: 10px;
  padding: 5px;
  border-width: 5px;
  width: 200px;
  transition-duration: 0.4s;
}

.recipe-sideBar-buttons:hover {
  border-color: #BF0A30;
  color: #BF0A30;
  text-decoration: underline;
  text-decoration-color: #FFD700;
}

.recipe-sideBar-buttons:active {
  border-color: #BF0A30;
  color: #BF0A30;
  text-decoration: underline;
  text-decoration-color: #FFD700;
}

/* //////////////// Footer //////////////// */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #BF0A30;
  height: 40vh;
}

.footerMenu {
  display: flex;
  order: 1;
  width: 50%;
  justify-content: center;
  text-align: center;
  align-self: center;
  text-decoration: none;
}

.footerMenu ul {
  list-style-type: none;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.footerMenu li {
  text-decoration: none;
  color: #002868;
  font-size: large;
  font-weight: bold;
}

.footerLogo {
  display: flex;
  order: 2;
  width: 50%;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.NomNoms-logo-footer {
  height: 20vh;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px #ffffff;
  justify-content: center;
  text-align: center;
  align-self: center;
}